.filters-btn, .hero-btn, .subscribe-form-btn, .modal-form__btn {
  font-family: inherit;
  border-radius: 4px;
  border: hidden;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover, .filters-btn:focus, .hero-btn:hover, .hero-btn:focus, .subscribe-form-btn--design:hover, .subscribe-form-btn--design:focus, .modal-form__btn:hover, .modal-form__btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  cursor: pointer;
}

.hero-btn, .subscribe-form-btn, .modal-form__btn {
  height: 50px;
  padding: 10px 25px;
}

.hero-btn, .subscribe-form-btn--design, .modal-form__btn {
  background-color: #2196f3;
  color: #FFFFFF;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visualy-hidden {
  visibility: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #FFFFFF;
}

*,
*::after,
*::before {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
  position: fixed;
  top: 0;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.89, 0.01, 0.45, 0.99);
  transition: -webkit-transform 250ms cubic-bezier(0.89, 0.01, 0.45, 0.99);
  transition: transform 250ms cubic-bezier(0.89, 0.01, 0.45, 0.99);
  transition: transform 250ms cubic-bezier(0.89, 0.01, 0.45, 0.99), -webkit-transform 250ms cubic-bezier(0.89, 0.01, 0.45, 0.99);
  position: absolute;
  top: 50%;
  left: 50%;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -24%) scale(0.41, 0.09);
          transform: translate(-50%, -24%) scale(0.41, 0.09);
}

.backdrop.is-hidden .modal-close {
  visibility: hidden;
}

.modal-close {
  width: 30px;
  height: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: visibility 100ms linear 150ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 100ms linear 150ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal-close:hover, .modal-close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  color: #2196f3;
}

.modal-form__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  font-weight: 700;
  margin-bottom: 12px;
}

.modal-form {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-form__wrap {
  width: 100%;
  color: #212121;
}
.modal-form__wrap--position {
  margin-bottom: 10px;
  position: relative;
}

.modal-form__label {
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__inputs {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.3);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  margin-top: 2px;
}
.modal-form__inputs:focus {
  border: 1px solid #2196f3;
}

.modal-form__inputs-svg {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 65.5%;
  left: 12px;
}

.modal-form__inputs:focus + .modal-form__inputs-svg {
  fill: #2196f3;
}

.modal-form__comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  display: block;
}
.modal-form__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__policies-wrap {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.modal-form__i-agree {
  width: 100%;
  padding-left: 7px;
  line-height: 1.71;
  color: #757575;
  position: relative;
}

.modal-form__policies-link {
  color: #2196f3;
}

.modal-form__check-wrap {
  width: 16px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: transparent;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 0;
}

.modal-form__policies:checked + .modal-form__check-wrap {
  background-color: #2196f3;
  fill: #FFFFFF;
  border-color: transparent;
}

.modal-form__btn {
  width: 200px;
  margin-top: 30px;
}
.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: #188CE8;
}

.section {
  padding: 94px 0;
  margin: auto;
  background-repeat: no-repeat;
  max-width: 1600px;
}

.section-title {
  font-size: 36px;
  line-height: 1.66;
  text-align: center;
  margin-bottom: 50px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.icon-color {
  fill: currentColor;
}

.master-btn__text {
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-container__logo {
  padding: 24px 0;
  margin-right: 93px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo__accent {
  color: #2196f3;
}
.logo--first-color {
  color: #000000;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-pages {
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.menu-pages__link {
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-pages__link--color {
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-pages__link--color:hover, .menu-pages__link--color:focus {
  color: #2196f3;
}

.menu-pages__link::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  position: relative;
  top: 31px;
}

.menu-pages__link:hover::after,
.menu-pages__link:focus::after {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  opacity: 1;
}

.menu-pages__link.current {
  color: #2196f3;
}

.menu-pages__link.current::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  position: relative;
  top: 31px;
}

.header-container__hot-contacts {
  margin-left: auto;
}

.hot-contacts {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.hot-contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hot-contacts__link--color {
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hot-contacts__link--color:hover, .hot-contacts__link--color:focus {
  color: #2196f3;
  fill: #2196f3;
}

.hot-contacts__text {
  margin-left: 10px;
}

.footer {
  padding: 60px 0;
}
.footer--bground {
  background-color: #2F303A;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo--second-color {
  color: #FFFFFF;
}

.find-us__adress {
  margin-top: 20px;
}

.footer-title {
  line-height: 1.14;
  text-transform: uppercase;
}
.footer-title--color {
  color: #FFFFFF;
}

.socials-container__footer-title {
  margin-bottom: 20px;
}

.adress__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 9px;
}

.socials {
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__link--design {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link--design:hover, .socials__link--design:focus {
  background-color: #2196f3;
  color: #FFFFFF;
}

.adress__map {
  font-style: normal;
  color: #FFFFFF;
  line-height: 1.71;
}

.adress__link {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__link:hover, .adress__link:focus {
  color: #2196f3;
}

.subscribe-form {
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}

.subscribe-form__email {
  width: 358px;
  padding: 15px 16px;
  line-height: 1.25;
}
.subscribe-form__email::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}
.subscribe-form__email::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}
.subscribe-form__email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}
.subscribe-form__email::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}
.subscribe-form__email::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

.subscribe-form__email--design {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: transparent;
  background-color: transparent;
  color: #FFFFFF;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form__email--design:focus {
  border: 1px solid #2196f3;
}

.subscribe-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  width: 200px;
}

.subscribe-form-btn--design:hover, .subscribe-form-btn--design:focus {
  background-color: #188CE8;
}

.hero {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/teamwork-day.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/teamwork-day.jpg");
  background-size: cover;
  background-position: center;
  background-color: #2F303A;
  margin: auto;
}

.hero-title {
  width: 696px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin: auto auto 30px;
}

.hero-btn {
  width: 216px;
}
.hero-btn:hover, .hero-btn:focus {
  background-color: #188CE8;
}

.features-list {
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.container__features-list {
  margin: auto;
}

.features-list__item {
  width: 270px;
}

.features-list__deck {
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.features-list__title {
  text-transform: uppercase;
  line-height: 1.14;
}

.features-list__text {
  line-height: 1.71;
  color: #757575;
  margin-top: 10px;
}

.work {
  padding-top: 0;
}

.work-list {
  gap: 30px;
}

.work-list__item {
  position: relative;
}

.work-list__text {
  width: 100%;
  height: 70px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  top: 224px;
}

.team--bground {
  background-color: #F5F4FA;
}

.team-list {
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.team-list__cards {
  width: 270px;
}
.team-list__cards--style {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member-about {
  padding: 30px 32px;
}

.member-about__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.member-about__text {
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
  text-align: center;
  margin-top: 10px;
}

.member-about__socials {
  margin-top: 16px;
}

.socials__link--team-design {
  background-color: inherit;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link--team-design:hover, .socials__link--team-design:focus {
  background-color: #2196f3;
  color: #FFFFFF;
}

.clients {
  justify-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.portfolio {
  background-color: #FFFFFF;
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filters-btn {
  min-width: 73px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  background-color: #F5F4FA;
  margin-left: 8px;
}
.filters-btn:hover, .filters-btn:focus {
  color: #FFFFFF;
}

.project-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.project {
  width: 370px;
  background: #FFFFFF;
}

.project-link {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid #EEEEEE;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover, .project-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.project-about {
  padding: 20px 24px;
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
  margin-top: 4px;
}/*# sourceMappingURL=main.css.map */