.features-list {
      column-gap: $gaps-small;
}

.container__features-list {
      margin: auto;
}

.features-list__item {
      width: 270px;
}

.features-list__deck {
      height: 120px;

      background-color: #F5F4FA;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      margin-bottom: 30px;
}

.features-list__title {
      text-transform: uppercase;
      line-height: 1.14;
}

.features-list__text {
      line-height: 1.71;
      color: $color-gray;
      margin-top: 10px;
}