$dark-theme: #2F303A;
$zeema-blue: #2196f3;
$color-white: #FFFFFF;
$color-gray: #757575;
$color-onix: #212121;
$medium-text: 16px;
$gaps-small: 30px;
$gaps-medium: 50px;
$time-style: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;